/* Reset default margin and padding for the body */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #f4f5f5, #f7f7f7);
}

/* Center the content in a container */
.container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}

/* Style for the content section */
.content {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

.content img {
    max-width: 80%;
    height: auto;
}

.content {
    font-size: 18px;
}

.content h1,
.content h2 {
    font-size: 22px;
}

/* Styles for the logo section */
.logo {
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

.logo img {
    width: 200px;
    height: auto;
}

/* Styles for the main buttons container */
.large-button-container,
.small-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.charming-button {
    margin: 5px; /* Reduce margin */
    padding: 8px 16px; /* Adjust padding */
    /*background-color: #116479;*/
    /*color: white;*/
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px; /* Reduce font size */
    transition: background-color 0.3s ease;
}

.charming-button:hover {
    background-color: #0f9236;
}




/* adjust width and height for the 3 button */
.large-button {
    width: 210px; 
    height: 190px; 
    /*background-image: url('images/Hotel Directory.png'); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    /*
width: Sets the width of the button to 210 pixels.
height: Sets the height of the button to 100 pixels.
background-image: Specifies the URL of the background image for the button. In this case, it's set to 'images/Hotel Directory.png'.
background-size: Specifies how the background image should be sized within the button. Here, contain is used, which means the image will be scaled to maintain its aspect ratio while fitting within the button's dimensions.
background-repeat: Determines how the background image should be repeated if it doesn't fill the entire button. no-repeat means the image will not be repeated.
background-position: Specifies the position of the background image within the button. center means the image will be centered horizontally and vertically.
border: Sets the border of the button to none, removing any border.
border-radius: Sets the border radius to 5 pixels, giving the button rounded corners.
cursor: Specifies the type of cursor to be displayed when hovering over the button. Here, it's set to pointer, indicating that the cursor will change to a hand icon, indicating a clickable element.
    */
}


.small-button {
    width: 85px;
    height: 65px;
}

.half-width {
    width: 50px;
}

.large-button-container {
    margin-bottom: 5px; /* Adjust the margin bottom to reduce the vertical gap */
}

.small-buttons-container {
    margin-top: 5px; /* Adjust the margin top to reduce the vertical gap */
}






/* Additional styles for larger screens if needed */
@media (min-width: 768px) {
    .content {
        font-size: 20px;
    }

    .content h1,
    .content h2 {
        font-size: 28px;
    }

    .logo {
        padding: 30px 0;
    }

    .logo img {
        width: 200px;
    }
}

