html {
    margin: 0;
    padding: 0;
}


/* Reset default margin and padding for the body */
body {
    background-color: transparent; /* Set background color to transparent */
    margin: 0;
    padding: 0;
    /*margin-top: 0;*/
    margin-bottom: 10px; /* Add or adjust margin-bottom */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #f4f5f5, #f7f7f7);

    font-family: Arial, sans-serif;
}

/* Ensure the body's background is hidden beyond the container */
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
}



header {
    /*background: #52bedf;*/
    /*background: rgb(229, 245, 249);*/
    /*border-bottom: 5px solid #59c9eb;*/


    /*position: fixed; /* Fixed position to keep it at the top */
    /*top: 0; /* Position at the top */
    /*left: 0; /* Align to the left */
    /*width: 100%; /* Occupy the full width of the viewport */
    /*background-color: #55e7e0;
    color: #0a492f;
    padding: 0.5rem; /* Adjust padding as needed */
    /*text-align: center;
    z-index: 999; /* Ensure it's above other content */
    /*font-size: 0.9em;*/



    position: fixed; /* Fixed position to keep it at the top */
    top: 0; /* Position at the top */
    left: 0; /* Align to the left */
    width: 100%; /* Occupy the full width of the viewport */
    background-color: #55e7e0;
    color: #0a492f;
    padding: 0.5rem; /* Adjust padding as needed */
    display: flex; /* Add flex display to align items horizontally */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Center align items vertically */
    z-index: 999; /* Ensure it's above other content */
    font-size: 0.9em;
}


header h1,h2 {
    font-size: 0.8em;
    margin: 0;
    margin-top: 0; /* Remove default margin */
}

.header-text {
    text-align: right; /* Align text to the right */
    max-width: 55%; /* Adjust the maximum width of the container */
    padding-right: 20px; /* Add padding to create space between the text and the right edge */

}




nav {
    display: flex;
    justify-content: center; /* Center align the logo horizontally */
    align-items: center; /* Center align the logo vertically */
    margin-bottom: 0; /* Add margin bottom to create space between logo and headings */
}

nav img {
    width: 150px; /* Adjust logo size */
    height: auto; /* Maintain aspect ratio */
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    /*color: #f8f9fa;  Light gray hover color */
    color: #f00; /* Change color on hover as desired */
}

main {
    max-width: 700px;
    margin: 0 auto;
}




.hero {
    position: relative;
    margin-top: 10px; /* Add margin to create space between header and slideshow */
    height: auto; /* edit this to change slider image height*/
    overflow: hidden;
}

.about {
    text-align: center; /* Center-align text */
}
.about h1,h2 {
    font-size: 1.2em;
    margin: 0;
    margin-top: 0; /* Remove default margin */
}

/* styles for buttonss section */
.buttonss {
    min-height: 110px; /* Adjust the minimum height as needed */
    margin-bottom: 10px; /* Add margin to create space between buttons and greeting */
}

.greeting {
    text-align: center; /* Center-align text */
    margin-top: 50px; /* Adjust margin-top */
    color: #0a1b49;
}
.greeting h1,h2 {
    font-size: 1.0em;
    margin: 0;
    margin-top: 0; /* Remove default margin */
}



footer {
    position: fixed; /* Fixed position to keep it at the bottom */
    bottom: 0; /* Position at the bottom */
    left: 0; /* Align to the left */
    width: 100%; /* Occupy the full width of the viewport */
    background-color: #0a1b49;
    color: #8be045;
    padding: 0.3rem; /* Adjust padding as needed */
    text-align: center;
    z-index: 998; /* Lower z-index value compared to header */
    font-size: 0.7em;
    margin-top: 0; /* Adjust margin-top */
}


footer h1,p {
    font-size: 1.0em;
    margin: 0;
    margin-top: 0; /* Remove default margin */
}




/* Styles for the logo section */
.logo {
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 2;
}

.logo img {
    width: 200px; /* Adjust logo size for smaller screens */
    height: auto;
}





/* Center the content in a container */
.container {
    /*background-color: rgb(255, 255, 255);
    background-color: transparent; 
    text-align: center;
    max-width: 600px;
    margin: 0 auto;*/

    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add padding for better spacing */
    margin-top: 0;
    padding-top: 0px; /* Add padding top to reduce the gap between the header and the slideshow */
    padding-bottom: 0px; /* Add padding bottom to reduce the gap between the slideshow and buttons */
    background-color: transparent; /* Set background color to transparent */
    text-align: center;
    width: 95%; /* Adjust width to 95% of viewport */
    max-width: 700px; /* Set maximum width for better aesthetics */
    margin: 0 auto;
    padding: 10px; /* Add padding for better spacing */
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden; /* Ensure no content overflows and reveals background */
}



/* Style for the content section */
.content {
    padding-top: 0; /* Remove top padding to reduce the gap between the header and slideshow */
    padding-bottom: 20px; /* Add bottom padding to maintain spacing between slideshow and buttons */
    
    padding: 20px;
    margin-top: 120px;
    text-align: center;
    /*background-color: rgb(255, 255, 255);*/
    background-color: rgb(246, 246, 246); /*change container box color*/
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0 0px rgba(255, 255, 255, 0);
    
    /*width: 100%;*/
    /*box-sizing: border-box;*/
    /*font-size: 16px; /* Adjust font size for better readability on small screens */

}


.content img {
    max-width: 100%; /* Ensure images don't overflow their containers */
    height: auto;
}


/* slideshow-container, cover-image, fade, @keyframes fade -- use for multiple image below the logo image*/
.slideshow-container {
    margin-top: 0px; /* Adjust the margin-top value as needed */
    margin-bottom: 20px; /* Add margin bottom to maintain spacing between the slideshow and buttons */
    border-radius: 13px; /* Adjust the border radius to create round corners */
    position: relative;
    max-width: 85%;
    height: auto; /* Set height to auto to allow images to adjust their height automatically */
    overflow: hidden;
    /*padding-bottom: 5px; /* Add padding-bottom to reduce the space between slideshow and h1 */
    margin-left: auto; /* Set left margin to auto */
    margin-right: auto; /* Set right margin to auto */
}

.slideshow-container img {
    width: 100%; /* Ensure the image width covers the entire container */
    height: auto; /* Allow the image to adjust its height automatically while maintaining aspect ratio */
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
    display: block; /* Ensure the image is displayed as a block element */
}

.cover-image {
    /*width: 100%;
    height: auto;
    display: none;*/

    width: auto;
    height: 100%; /* Fill the height of the container */
    display: none;
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
}

.fade {
    animation-name: fade;
    animation-duration: 3.0s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


/* adjust for button styles*/
.small-button {
    width: 40%; /* Set button width as a percentage for responsiveness */
    max-width: 60px; /* Set maximum width for better aesthetics */
    /* height: auto; Remove height restriction to allow buttons to expand vertically */
    /* max-height: 85px; Remove max-height restriction */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Set cursor to pointer */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add transition for transform property */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.small-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.small-buttons-container .charming-button {
    position: relative;
    overflow: hidden;
    width: auto; /* Adjust button width automatically based on content */
    height: auto; /* Adjust button height automatically based on content */
    padding: 0; /* Remove padding to allow images to fill the button */

    margin-right: 25px; /* Adjust margin-right to increase or decrease the gap between buttons */
}

.small-buttons-container .charming-button img {
    width: 100%; /* Ensure the image fills the entire width of the button */
    height: 100%; /* Ensure the image fills the entire height of the button */
    object-fit: cover; /* Maintain aspect ratio and cover entire button */
    padding: 5px; /* Add padding to create space between the image and the button edges */
    box-sizing: border-box; /* Include padding in the total width and height of the image */
}

.charming-button {
    margin: 5px; /* Reduce margin */
    padding: 4px 8px; /* Adjust padding */
    /*background-color: #3498db;*/
    background-color: transparent;
    /*color: white;*/
    border: 0px solid rgb(185, 184, 184);  /*Add border with thin grey line */
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px; /* Reduce font size */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add transition for transform property */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add outer shadow */
}

.charming-button:hover {
    background-color: #74F0B6; /* Tiffany Green (116,240,182) #74F0B6*/
    transform: scale(1.05); /* Scale up the button by 5% when hovered */
    border: 0px solid rgb(61, 102, 240); /* Add a blue border on hover */
}


/*Short name below the button*/
.button-container {
    text-align: center; /* Center-align the content within the container */
}

.button-container .charming-button {
    margin-bottom: 10px; /* Add margin between the button and the paragraph */
}

.button-container p {
    margin: 5px auto 0; /* Adjust margin to create space between the button and the paragraph */
    font-size: 12px; /* Adjust font size as needed */
    text-align: center; /* Center-align the paragraph */

    margin-right: 20px; /* Adjust margin-right to increase or decrease the gap between buttons */
}






/* Additional styles for larger screens if needed */
@media (min-width: 768px) {
    .container {
        padding: 40px; /* Adjust padding for larger screens */
    }

    .content {
        font-size: 18px; /* Adjust font size for larger screens */
    }

    .content h1,
    .content h2 {
        font-size: 24px; /* Adjust heading sizes for larger screens */
    }

    .logo {
        padding: 30px 0;
    }

    .logo img {
        width: 200px; /* Adjust logo size for larger screens */
    }
}


















/*already remove the logo image*/
/* adjust width and height for logo image*/
.logo-photo {
    /*width: 210px; 
    height: 190px; 
    background-image: url('images/Hotel Directory.png'); */

    width: 60%; /* Make logo fill the container width */
    height: auto; /* Adjust height automatically */
    max-width: 200px; /* Set maximum width for better aesthetics */
    max-height: 190px; /* Set maximum height for better aesthetics */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
/* cover-photo and cover-image only use for 1 image below the logo image*/
.cover-photo {
    position: relative;
}
/* currently no use for this*/



.half-width {
    width: 50px;
}

.large-button-container {
    margin-bottom: 5px; /* Adjust the margin bottom to reduce the vertical gap */
}

.small-buttons-container {
    margin-top: 10px; /* Add a margin top to create space between the buttons and the slideshow */
    display: flex;
    justify-content: center;
}


/* Styles for the main buttons container */
.large-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}








