/* Reset default margin and padding for the body */
html, body {
    margin: 0;
    padding: 0;
    width: 100%; /* Ensure body fills the entire viewport width */
}

/* Ensure all elements within the body fill the entire viewport width */
header, main, footer {
    width: 100%;
    max-width: 100%; /* Ensure elements don't exceed viewport width */
}

/* Center the content horizontally */
header, main, footer {
    margin: 0 auto; /* Center the elements horizontally */
}

/* Set maximum width for content to prevent it from exceeding viewport width */
.container {
    width: 100%;
    max-width: 1000px; /* Adjust maximum width as needed */
    margin: 0 auto; /* Center the container horizontally */
    margin-top: -20px; /* Adjust the negative margin-top to pull the container up */
}
/*To ensure that all elements (header, main, footer, etc.) have the same width and are within the viewport width,*/





/* Set background and layout for body */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #f4f5f5, #f7f7f7);
}

/* Center content in main section */
main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text within the main container */
    flex-grow: 1; /* Allow main content to expand to fill remaining space */
    width: 100%; /* Ensure main spans the full width */
}

/* Ensure header spans full width */
header {
    background-color: rgb(126, 126, 126);
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%; /* Set the width to viewport width */
    overflow-x: hidden; /* Hide any content that overflows horizontally */
    box-sizing: border-box; /* Include padding and border in the width */
}





/* Style for navigation */
nav {
    display: flex;
    align-items: center;
}

nav img {
    height: 30px; /* Adjust height as needed */
    margin-right: 25px; /* Adjust margin as needed */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 8px;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #f00; /* Change color on hover as desired */
}


/* Style for the hero section */
.hero {
    position: relative;
    height: 30vh; /* Change to percentage-based height */
    /*height: 150px; /* edit this to change slider image height*/
    overflow: hidden;
    margin-top: 0; 
    margin-bottom: 0; /* Add this line to adjust the margin from the bottom */
    width: 100%;
    max-width: 100%; /* Ensure the hero section spans the full width */
}

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Ensure no overflow */
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%; /* Use viewport width to ensure the image covers the entire width */
    height: auto; /* Ensure images maintain aspect ratio */
    vertical-align: middle;
}

/* Additional styles for larger screens if needed */
@media (min-width: 768px) {
    .hero {
        height: 90vh; /* Change to percentage-based height */
        margin-bottom: 0; /* Add this line to adjust the margin from the bottom */
    }

    .slideshow-container {
        margin: 0; /* Remove any default margins */
    }

    .mySlides img {
        width: 100%; /* Set width to 100% to cover the full width */
        height: auto; /* Ensure images maintain aspect ratio */
        object-fit: cover; /* Maintain aspect ratio while covering the container */
    }
}




/* Style for the content section */
.content {
    /*background-image: url('images/backgroundFirst.png');  Path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
}

/* Add this CSS rule to set the maximum width for the content logo */
.content img {
    max-width: 80%; /* Set the maximum width to 100% of the parent container */
    height: auto; /* Maintain aspect ratio */
}


/* Adjust the font size of headings and other text inside the .content div */
.content {
    font-size: 18px; /* Set the base font size for .content */
}

.content h1 {
    font-size: 22px; /* Set the font size for <h1> inside .content */
}

.content h2 {
    font-size: 22px; /* Set the font size for <h2> inside .content */
}

#main-buttons-container {
    font-size: 16px; /* Set the font size for buttons inside #main-buttons-container */
}

/* Optional: You can adjust font sizes for larger screens using media queries */
@media (min-width: 768px) {
    .content {
        font-size: 20px; /* Increase base font size for larger screens */
    }

    .content h1 {
        font-size: 28px; /* Increase font size for <h1> on larger screens */
    }

    .content h2 {
        font-size: 28px; /* Increase font size for <h2> on larger screens */
    }

    #main-buttons-container {
        font-size: 18px; /* Increase font size for buttons on larger screens */
    }
}




/* Style for the logo section */
.logo {
    text-align: center;
    padding: 20px 0; /* Add padding to create space between logo and content */
    position: relative; /* Set position to relative */
    z-index: 2; /* Set a higher z-index to keep the logo above other elements */
}

.logo img {
    width: 200px; /* Set the width of your logo */
    height: auto; /* Maintain aspect ratio */
}


/* Styles for the main buttons container */
#main-buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Add margin between content and buttons */
}

/* Adjustments for larger screens if needed */
@media (min-width: 768px) {
    .container {
        max-width: 800px; /* Increase max-width for larger screens */
    }

    #main-buttons-container {
        flex-direction: row; /* Arrange buttons horizontally on larger screens */
    }
}



/* Button style for index.html */
.index-button {
    margin: 10px; /* Add spacing between buttons */
    padding: 10px 20px; /* Set the padding to create a small rectangular button */
    background-color: #3498db; /* Blue background color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    

    width: 300px; /* Set maximum width for larger screens */
}

.index-button:hover {
    background-color: #74F0B6; /* Darker blue on hover */
    border: 2px solid rgb(61, 102, 240); /* Add a blue border on hover */
    transform: scale(1.05);
}


/* Adjust the size of the images inside the buttons */
#index-buttons-container img {
    width: 100%; /* Set initial width */
    height: auto; /* Maintain aspect ratio */
}

/* Define a media query for larger screens */
@media (min-width: 768px) {
    #main-buttons-container {
        /*flex-direction: row; /* Arrange buttons horizontally on larger screens */
        flex-direction: column; /* Arrange buttons horizontally on larger screens */
        justify-content: center; /* Center the buttons horizontally */
        width: 100%; /* Expand the container to fill the available space */
    }

    .index-button {
        width: 100%; /* Set a specific width for larger screens */
        max-width: none; /* Reset max-width if needed */
        margin: 10px; /* Add margin between buttons */
        padding: 10px 20px; /* Maintain padding */
    }

    /* Adjust the size and styling of the images inside the buttons for larger screens */
    #main-buttons-container img {
        width: auto; /* Make sure the image fills the button width */
        height: 100%; /* Maintain aspect ratio */
        object-fit: cover; /* Maintain aspect ratio while covering the container */
    }
}











#homeButton {
    margin-top: 20px; /* Add some space between the form button and other elements */
    padding: 15px 30px; /* Padding for the form button */
    background-color: #d3bb35; /* Green background color */
    color: #116479; /* White text color */
    border: none; /* Remove border */
    border-radius: 25px; /* Round the corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 16px; /* Font size for the form button */
    transition: background-color 0.3s ease, transform 0.3s ease, border-radius 0.3s ease; /* Add transitions for background color, transform, and border-radius */
    /* Add hover effect */
    &:hover {
        background-color: #3fec48; /* Lighter green on hover */
        transform: scale(1.05); /* Scale up the button by 5% when hovered */
        border-radius: 70%; /* Change border-radius to make the button circular */
        color: #b16e0b; /* Maintain white text color */
    }

    /* Additional styles for larger screens if needed */
    @media (min-width: 768px) {
        font-size: 18px; /* Increase font size for larger screens */
        padding: 20px 40px; /* Adjust padding for larger screens */
    }
}








/* Styles for small buttons container */
.small-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.small-buttons-container .charming-button {
    position: relative;
    overflow: hidden;
    width: auto; /* Adjust button width automatically based on content */
    height: auto; /* Adjust button height automatically based on content */
    padding: 0; /* Remove padding to allow images to fill the button */
    margin-right: 25px; /* Adjust margin-right to increase or decrease the gap between buttons */
}

.charming-button {
    margin: 5px; /* Reduce margin */
    padding: 6px 10px; /* Adjust padding */
    /*background-color: #3498db;*/
    background-color: transparent;
    /*color: white;*/
    border: 0px solid rgb(185, 184, 184);  /*Add border with thin grey line */
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px; /* Reduce font size */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Add transition for transform property */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add outer shadow */
}

.charming-button:hover {
    background-color: #74F0B6; /* Tiffany Green (116,240,182) #74F0B6*/
    transform: scale(1.05); /* Scale up the button by 5% when hovered */
    border: 0px solid rgb(61, 102, 240); /* Add a blue border on hover */
}


/*Short name below the button*/
.button-container {
    text-align: center; /* Center-align the content within the container */
}

.button-container .charming-button {
    margin-bottom: 10px; /* Add margin between the button and the paragraph */
}

.button-container p {
    margin: 5px auto 0; /* Adjust margin to create space between the button and the paragraph */
    font-size: 12px; /* Adjust font size as needed */
    text-align: center; /* Center-align the paragraph */

    margin-right: 20px; /* Adjust margin-right to increase or decrease the gap between buttons */
}



/* Define a class for the image inside the button */
.button-container img {
    width: auto; /* Allow the image to adjust its width based on the available space */
    height: 100%; /* Ensure the image fills the height of the button */
}

/* Define a media query for larger screens */
@media (min-width: 768px) {
    .button-container img {
        width: auto; /* Allow the image to adjust its width based on the available space */
        height: 100%; /* Ensure the image fills the height of the button */
    }
}




footer {
    margin-top: 15px;
    width: 100%; /* Make sure the footer spans the full width */
    max-width: 100%; /* Limit the maximum width to the viewport width */
    background-color: rgb(126, 126, 126);
    color: #fff;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box; /* Include padding and border in the width */
}







